<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
</head>
<body>
<h2>Quiz Report!</h2>
Attempted question<h5 th:text="${infoData.attempted}"></h5>
<br>
Total Correct Answer <h5 th:text="${infoData.correctAnswers}"></h5>
<br>
Marks Got   <h5 th:text="${infoData.marksGot}"></h5>
<br>
<table class="table caption-top border-primary"  >
    <thead class="table-dark" >
    <!--    <h5 th:text="${employee.marksGot}"></h5>-->
    <tr>
        <th scope="col">Question</th>
        <th scope="col">Option A</th>
        <th scope="col">Option B</th>
        <th scope="col">Option C</th>
        <th scope="col">Option D</th>
        <th scope="col">Option Correct Answer</th>
        <th scope="col">Option Marked Answer</th>
    </tr>
    </thead>
    <Div th:each="infoDatas : ${infoData.payload}">
    <tbody>
    <tr>
        <th scope="row" th:text="${infoDatas.questionEntity.content}">1</th>
        <td th:text="${infoDatas.questionEntity.option1}"></td>
        <td th:text="${infoDatas.questionEntity.option2}" ></td>
        <td th:text="${infoDatas.questionEntity.option3}" ></td>
        <td th:text="${infoDatas.questionEntity.option4}" ></td>
        <td th:text="${infoDatas.questionEntity.answer}" ></td>
        <td th:text="${infoDatas.questionEntity.givenAnswer}" ></td>
    </tr>
    </tbody>
    </Div>
</table>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
</body>
</html>